[Unit]
Description=Test Management System
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=simple
ExecStart=/bin/bash -c '/usr/bin/npm run serve 2>&1 | tee -a /tmp/web.log'
Restart=always
WorkingDirectory=/root/test-mgmt/test-mgmt-web

[Install]
WantedBy=multi-user.target
